<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HENAGON.ID</title>
		<meta name="description" content='Temukan tips dan pengetahuan seputar software development' />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<style is:global>
		@font-face {
			font-family: 'Geist';
			src: url('/fonts/Geist-Regular.woff2') format('woff');
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Geist';
			src: url('/fonts/Geist-SemiBold.woff2') format('woff');
			font-weight: 600;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: 'Geist';
			src: url('/fonts/Geist-Bold.woff2') format('woff');
			font-weight: 700;
			font-style: normal;
			font-display: swap;
		}
		</style>
	</head>
	<body class="antialiased">
		<div class="w-full flex items-start justify-center bg-white dark:bg-gray-900 dark:text-gray-200 min-h-screen">
			<div class="w-10/12 h-full">
				<div class="mt-8">
			    <slot />
				</div>
				<footer class="py-10 text-center w-full">
					<p class="font-bold">
						{(new Date()).getFullYear()} henagon.id
					</p>
				</footer>
			</div>
		</div>
	</body>
</html>
